#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 2rem;
  text-align: center;
}

.logo {
  padding: 1.5rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

/* Header */

.custom-header {
  width: 100%;
  border-bottom: 1px solid #DDD;;
}

/* Loading circle */

.loading-circle {
  margin: 1rem;
  border: 10px solid #f3f3f3;
  border-top: 10px solid #4B0247;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: spin 2s linear infinite;
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}